# Node
node_modules/
npm-debug.log*
package-lock.json

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Logs
*.log
logs/
